@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/inter/900.ttf'),
  url('../assets/fonts/inter/900.ttf');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/inter/800.ttf'),
  url('../assets/fonts/inter/800.ttf');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/inter/700.ttf'),
  url('../assets/fonts/inter/700.ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/inter/600.ttf'),
  url('../assets/fonts/inter/600.ttf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/inter/500.ttf'),
  url('../assets/fonts/inter/500.ttf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/inter/400.ttf'),
  url('../assets/fonts/inter/400.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/inter/300.ttf'),
  url('../assets/fonts/inter/300.ttf');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/inter/200.ttf'),
  url('../assets/fonts/inter/200.ttf');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/inter/100.ttf'),
  url('../assets/fonts/inter/100.ttf');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}