@import "src/styles/vars";
@import "src/styles/mixins";

.input {
  width: 100%;
  height: 36px;

  border: 1px solid $borderColor;
  border-radius: 6px;

  @include tableText;

  background-color: transparent;

  transition: .3s;

  &Focused {
    border-color: $focusedBorderColor;
  }

  &Empty {
    border-color: $emptyBorderColor;
  }
}